.Navbar {
    position: fixed !important;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #232533;
    z-index: 200;
  }
  
  .Navbar > .navlogo {
    font-weight: 700;
    font-size: 21px;
    margin: 15px;
    color: #ffffff;
  }
  .Navbar > .navitems{
    display: flex;
  }
  .Navbar > .navitems > a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    margin: 15px;
    position: relative;
    opacity: 0.9;
  }
  
  .Navbar > .navitems > a:hover {
    opacity: 1;
  }
  
  /* .Navbar > .navitems > a::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background: #ffffff;
    transition: all 0.45s;
  }
  
  .Navbar > .navitems > a:hover::before {
    width: 100%;
  } */
  
  .Navbar > .navtoggle {
    display: none;
  }
  
  @media (max-width: 700px) {
    .Navbar > .navitems {
      position: absolute;
      top: 60px;
      display: flex;
      flex-direction: column;
      background: #f0f1f5;
      left: 0;
      width: 65%;
      height: 100vh;
      transform: translateX(-100%);
      transition: all .45s;
      text-align: center;
    }
    .Navbar > .navitems > a{
      color: #050505;
    }
  
    .Navbar > .navitems > a::before {
        background: transparent;
    }
  
    .Navbar > .navitems.open {
        transform: translateX(0);
    }
  
    .Navbar > .navtoggle {
      display: flex;
      width: 50px;
      height: 50px;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  
    .navtoggle > .bar {
      position: relative;
      width: 32px;
      height: 2px;
      background: #ffffff;
      transition: all 0.45s ease-in-out;
    }
  
    .navtoggle > .bar::before,
    .navtoggle > .bar::after {
      content: "";
      position: absolute;
      height: 2px;
      background: #ffffff;
      border-radius: 2px;
      transition: all 0.45s ease-in-out;
    }
  
    .navtoggle > .bar::before {
      width: 25px;
      transform: translateY(-8px);
      right: 0;
    }
  
    .navtoggle > .bar::after {
      width: 32px;
      transform: translateY(8px);
    }
  
    .navtoggle.open > .bar {
        transform: translateX(-40px);
        background: transparent;
    }
  
    .navtoggle.open > .bar::before {
        width: 32px;
        transform: rotate(45deg) translate(26px, -26px);
    }
  
    .navtoggle.open > .bar::after {
      transform: rotate(-45deg) translate(26px, 26px);
    }
  
  
  }